body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: url('images/ice.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
.container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 20px;
    /* max-width: 800px; */
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 80%;
}
.container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.input-group-wrapper {
   display: flex;
   justify-content: space-between; /* Space between the two fields */
     margin-bottom: 15px; /* Space between the rows */
   }
.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Stack the label and input vertically within each pair */
    flex: 1; /* Allow each group to take equal space */
    margin-left: 20px; /* Space between the two groups */
    padding-right: 30px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 16px;
    background-color: #444;
    color: #f8f8f8;
}
.input-group input:focus {
    border-color: #007bff;
}
.input-group select, .input-group button {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
}
.buttons {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;  /* Centers the content horizontally */

}
.buttons button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.buttons .submit {
    background-color: #007bff;
    color: #fff;
    /* justify-content: center;  Centers the content horizontally */


}
.buttons .reset {
    background-color: red;
    color: #fff;
}

